.item {
  display: flex;
  width: 10%;
  height: 50px;
  margin-bottom: 10px;
  align-items: center;
  margin-left: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.online {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #03f12b;
}
.Offonline {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f50808;
}
.name {
  margin-left: 10px;
}
